.container1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 4px 8px 16px gray;
  
  }
  
  .container1 input {
    width: 70%;
    height: 40px;
    margin-top: 25px;
    margin-right: 5px;
  }
  .container2 {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
    z-index: 1030;
  
  }
  
  
  .container2 button {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .container2 button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  
  a {
    text-decoration: none;
    color: white;
  
  }
  
  .container2 ul {
    display: flex;
    list-style: none;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: none;
    font-weight: bold;
  }
    
  .container1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 4px 8px 16px gray;

}

.container1 input {
    width: 70%;
    height: 40px;
    margin-top: 25px;
    margin-right: 5px;
}

.container2 {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
    z-index: 1030;

}

.container2 button {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.container2 button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}


.container2 a {
    text-decoration: none;
    color: white;

}

.container2 ul {
    display: flex;
    list-style: none;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: none;
    font-weight: bold;
}

.container2 img {
    width: 20px;
    width: 5%;
}
.container8 {
    text-align: center;
    display: flex;
    padding: 100px 80px;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    position: sticky;
  
  
  }
  
  .container8 ul {
    display: inline-block;
    list-style: none;
    justify-content: space-between;
    font-size: 15px;
    color: white;
  }
  .container8 img {
    width: 40px;
    height: 40px;
    justify-content: center;
  }
  .container3 img{
    display: flex;
    width: 100%;
  }
  .container3  p {
    font-size: 35px;
    color: white;
    left: 70px;
    position: absolute;
    top: 450px;
    background-color: rgb(0, 0, 0);
    width: 85%;
    padding: 30px 30px;
 }